
* {
  box-sizing: border-box;
  background: #fff6ef;
  font-family: 'Open Sans', sans-serif;
}

.navigation {
  display: flex;
  padding: 5px;
  list-style: none;
}

.navigation-item {
  flex: 1;
}

.navigation-link{
   display: block;
  color: #333333;
  padding: 20px;
  text-decoration: none;
}

.navigation-link: hover {
  background: #333333;
  color: #fff6ef:

}