* {
  /*box-sizing: border-box;*/
  background: #fff6ef;
  font-family: 'Open Sans', sans-serif;
}

.navigation {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /*grid-template-rows: 1/span 6; for the bottom border-- figure out how to make the row span the entire width*/
  list-style: none;
  /*border-bottom: 3px solid #333333;*/
}

/*.navigation-item {
  flex: 1;
} */

#navigation-blank {
  grid-column: 2/span 2;
}

.navigation-link {
   /*display: block;*/
  color: #333333;
  padding: 0px 0px 10px 0px;
  /*border-right: 2px solid #333333; a regluar css border -- not ideal to use with a grid*/
  text-decoration: none;
}

.border-right {
  background: #333333;
}

.navigation-link:hover {
  background: #333333;
  color: #fff6ef;
}