/* This CSS file contains styles that a unique to the "Piano" page */

body {
  --white-key-width: 100px;
  --black-key-width: 60px;
  background-color: #000000;
}

.header-text {
  position: absolute;
  top: 25%;
  left: 45%;
}


/* TEXT STYLES */
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;

  margin: 30px auto;
}

.text-container p {
    font-size: 20px;
    text-align: center;
  }

/* PIANO STYLES */
.piano {
  margin: 60px;
  display: flex;
  justify-content: center;
}

.key {
  border-radius: 5px;
}

.white {
  width: var(--white-key-width);
  height: calc(var(--white-key-width) * 4);
  background-color: #ffffff;
  border: 1px solid #333;
}

.white.active {
  background-color: #CCC;
}

.black {
  width: var(--black-key-width);
  height: calc(var(--black-key-width) * 4);
  background-color: #000000;
  margin-left: calc(var(--black-key-width) / -2);
  margin-right: calc(var(--black-key-width) / -2);
  z-index: 2;
}

.black.active {
  background-color: #333;
}

/* TABLET VIEW BREAKPOINT */
@media (min-width: 501px) and (max-width: 768px) {
  body {
    --white-key-width: 80px;
    --black-key-width: 50px;
  }
    /* TEXT STYLES */
  .text-container {
    width: 80vw;
    margin: 40px auto;
  }

  .text-container p {
    font-size: 16px;
  }
  
  .piano {
    margin: 20px;
  }
}

/* MOBILE VIEW BREAKPOINT */
@media (max-width: 500px) {
    body {
    --white-key-width: 60px;
    --black-key-width: 30px;
  }
    /* TEXT STYLES */
  .text-container {
    width: 80vw;
    margin: 40px auto;
  }

  .text-container p {
    font-size: 16px;
  }
  
  .piano {
    margin: 20px;
  }

}