* {
  box-sizing: border-box;
}

header, 
navigation,
article,
footer {
  margin-bottom: 2.5%;
  padding: 5%;
  border: 1px solid lightgray;
  text-align: center;
}
header,
footer {
  background: #efefef;
}
.navigation {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation-item {
  flex: 1;
}

.navigation-link {
  background: mediumaquamarine;
  color: navy;
  display: block;
  padding: 20px;
}
.navigation-link:hover {
  background: deeppink;
  color: navy;
  text-decoration: none;
}
main {
  display: flex;
  /* you'll add some styles here shortly */
}
article {
  flex: 3;
  /* you'll add some styles here shortly */;
}
aside {
  background: #ddd;
  flex: 1;
}

.planets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.planet {
  flex-basis: 22.5%;
  list-style: none;
  border: 2px solid black;
  height: 200px;
  width: 200px;
  padding: 10px;
  margin-bottom: 20px;
}